#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
    justify-items: center;
}

.read-the-docs {
  color: #fff;
}

.button {
    display: block;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    color: #005DAB;
    width: 80%; /* Establece el ancho del 80% */
    margin: 10px auto; /* Centra los botones y agrega margen superior e inferior */
}

.logo {
    max-width: 60%; /* La imagen no se estirará más allá del ancho de su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  
  @media (max-width: 600px) {
    .logo {
      max-width: 80%; /* Puedes reducir el tamaño en pantallas más pequeñas si lo deseas */
    }
  }